.principal {
    background-color: #0086A8;
}

.principal .banner {
    display: inline-block;
    position: relative;
    max-width: 100vw;
    width: 100%;
    height: 330px;
}

.principal .banner img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.principal .banner h1 {
    display: block;
    width: 100%;
    font-size: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    text-align: center;
    color: white;
}

.principal .sections {
    max-width: 100vw;
    display: flex;
    flex-direction: column;
    max-width: 80%;
    margin: 0 auto;
}

.principal .sections .section {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.principal .sections .section h2 {
    padding: 6px 0 5px 14px;
    margin: 50px 0 30px 0;
    font-size: 36px;
    text-align: left;
    width: 950px;
    color: #0086A8;
    background-color: white;
}

.principal .sections .section:nth-of-type(2) h2 {
    width: 760px;

}

.principal .sections .section:nth-of-type(3) h2 {
    padding-left: 18px;
    width: 480px;

}

.principal .sections .section:nth-of-type(4) h2 {
    width: 235px;
}

.principal .sections .section p {
    font-size: 30px;
}

.principal .sections .section img {
    width: 90%;
    margin: 20px auto 10px auto;
}

.principal .sections .section .itens {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left: 20px;
}

.principal .sections .section .sub-topico { 
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 15px;
}

.principal .sections .section .sub-topico h3 {
    font-size: 30px;
    color: #7DE4FF;
}

.principal .sections .section .btn-relate {
    font-weight: bold;
    font-size: 20px;
    background-color: white;
    border: none;
    border-radius: 4px;
    margin: 40px auto 60px auto;
    text-align: center;
    padding: 30px;
    width: 180px;
    height: 80px;
    color: #0086A8;
    cursor: pointer;
    transition: .3s ease-out;
}

.principal .sections .section .btn-relate:hover {
    opacity: 70%;
}

#modal {
    position: fixed relative;
    background-color: white;
    border: none;
    border-radius: 20px;
    margin: 0 auto;
    width: 600px;
    height: 700px;
    top: 12%;
    color: black;
}

#modal .header {
    background-color: #0086A8;
    padding: 35px;
}

#modal .header h1 {
    color: white;
    font-size: 40px;
    text-align: center;
}

#modal .fechar {
    position: absolute;
    cursor: pointer;
    top: 15px;
    right: 25px;
    border: none;
    color:rgba(0, 0, 0, 0.815);
    background-color: #0086A8;
    font-size: 40px;
    color: white;
}

#modal .form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 18px 30px;
}

#modal .form .submit {
    cursor: pointer;
    border: none;
    border-radius: 4px;
    margin-top: 40px;
    background-color: #0086A8;
    color: white;
    width: 170px;
    height: 50px;
    margin: 0 auto;
    transition: .3s ease-in-out;
}

#modal .form .submit:hover {
    opacity: 70%;
}

#modal .form-content {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#modal .form-content label {
    font-size: 20px;
    font-weight: 500;
}

#modal .form-content input {
    width: 100%;
    font-size: 17px;
    border-radius: 8px;
    padding: 8px;
    border: 2px solid #dfdfdf
}

#modal .form-content textarea {
    width: 100%;
    font-size: 17px;
    border-radius: 8px;
    padding: 8px;
    border: 2px solid #dfdfdf
}

#modal .form-content a {
    visibility: hidden;
}

#modal .form-content.error input {
    border-color: red;
}

#modal .form-content.error textarea {
    border-color: red;
}

#modal .form-content.error a {
    visibility: visible;
    color: red;
}

